.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
	transform-origin: 50% 50%;
	width: 10%;
	height: 10%;
	margin: 0 auto;
}

@keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform:rotate(360deg); 
	} 
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
