<h3> Sensors </h3>
<span>
  Here you can manage your sensors. Click on a sensor to go to the detail page <br>
  A cell containing the sensor Id can have 4 colors:
  <ul>
    <li class='bg-success'>A green cell indicates that the sensor is running OK.</li>
    <li class='bg-warning'>An orange cell shows when the sensor did not receive data within 3 intervals.</li>
    <li class='bg-danger'>A red cell will be visible if the sensor did not receive data within 30 intervals and may be broken</li>
    <li>A white cell means that the sensor has never received any data.</li>
  </ul>
</span>
<span> <button class="btn btn-success pull-right" (click)="createModal.open(); getHouses()"><span class="glyphicon glyphicon-plus"></span> Add new sensor </button>
<hr>

 <modal #createModal>
      <modal-header [show-close]="true">
          <h4 class="modal-title">Create a new sensor</h4>
      </modal-header>
      <modal-body>
          <select #newHouse>
            <option *ngFor="let house of houses">
              {{house.hid}} -- {{house.address}}
            </option>
          </select> <br>
          <input #newId type="text" placeholder="Sensor id"> <br>
          <select #newType>
            <option *ngFor="let type of SENSOR_TYPES">
              {{type}}
            </option>
          </select> <br>
          <input #newLocation type="text" placeholder="Sensor location" /> <br>

          Attributes: <br>
          <input #unitCheck type="checkbox" name="attributes" value= "unit"> Unit <br>
          <input #valueCheck type="checkbox" name="attributes" value= "value"> Value <br>
          <input #sensorBatteryLevelCheck type="checkbox" name="attributes" value= "sensorBatteryLevel"> Battery level <br>

      </modal-body>
      <modal-footer>
        <button class="btn btn-success" (click)="createSensor(newHouse.value, newId.value, newType.value, newLocation.value, [unitCheck, valueCheck, sensorBatteryLevelCheck], createModal)"> Create </button>
        <button class="btn btn-primary" (click)="createModal.close()"> Cancel </button>
      </modal-footer>
  </modal>

<div *ngIf="sensors.length > 0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Sensor id</th>
        <th>Sensor type</th>
        <th>Sensor location</th>
        <th>Sensor attributes</th>
        <th class="pull-right">Extra options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sensor of sensors">
          <th (click)="onSelectSensor(sensor); goToSensorPage()" [ngClass]="{'bg-success': sensor.state === 'Active', 'bg-warning': sensor.state === 'Intermittent failures', 'bg-danger': sensor.state === 'Inactive'}"> {{sensor.sid}} </th>
          <td (click)="onSelectSensor(sensor); goToSensorPage()"> {{sensor.type}} </td>
          <td (click)="onSelectSensor(sensor); goToSensorPage()"> {{sensor.location}} </td>
          <td (click)="onSelectSensor(sensor); goToSensorPage()"> {{sensor.attributes}} </td>
        <td> 
          <button type="button" class="btn btn-danger pull-right" (click)="deleteModal.open(); onSelectSensor(sensor)"> 
            <span class="glyphicon glyphicon-trash"></span> Delete sensor 
          </button>
          <button type="button" class="btn btn-warning pull-right" (click)="updateModal.open(); onSelectSensor(sensor)"> 
            <span class="glyphicon glyphicon-pencil"></span> Update sensor
          </button> 
        </td>
      </tr>
    </tbody>
  </table>

  <modal #updateModal>
      <modal-header [show-close]="true">
          <h4 class="modal-title">Update attributes</h4>
      </modal-header>
      <modal-body>
          New attributes: <br>
          <input #unitCheck type="checkbox" name="attributes" value= "unit"> Unit <br>
          <input #valueCheck type="checkbox" name="attributes" value= "value"> Value <br>
          <input #sensorBatteryLevelCheck type="checkbox" name="attributes" value= "sensorBatteryLevel"> Battery level <br>
      </modal-body>
      <modal-footer>
        <button class="btn btn-success" (click)="updateSensor(selectedSensor, [unitCheck, valueCheck, sensorBatteryLevelCheck])"> Submit change </button>
        <button class="btn btn-primary" (click)="updateModal.close()"> Cancel </button>
      </modal-footer>
  </modal>

  <modal #deleteModal>
      <modal-header [show-close]="true">
          <h4 class="modal-title">Warning</h4>
      </modal-header>
      <modal-body>
          Are you sure you want to delete {{selectedSensor.sid}}? All  records belonging to this sensor will be removed too!
      </modal-body>
      <modal-footer>
        <button class="btn btn-danger" (click)="deleteSensor(selectedSensor)"> Delete </button>
        <button class="btn btn-primary" (click)="deleteModal.close()"> Cancel </button>
      </modal-footer>
  </modal>
</div>

<div *ngIf="sensors.length === 0">
  Nothing to show here! Click the button to add a new house to your collection!
</div>