.visible {
	display: block;
}

.hidden {
	display: none;
}

.chart {
	width: 60%;
	height: 75%;
}

.no-bullets {
	list-style-type: none;
}

.block {
	font-size: 1.25em;
	width: 30%;
	border: 1px solid black;
	border-radius: 2%;
	margin-top: 5%;
}

.blockTitle {
	color: white;
	background-color: orangered;
	border-bottom: 1px solid black;
}

#loader {
	margin-bottom: 11%;
}

.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
	transform-origin: 50% 50%;
	width: 10%;
	height: 10%;
	margin: 0 auto;
}

@keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform:rotate(360deg); 
	} 
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
