<h3> Houses </h3>
<span> Here you can manage your houses </span>
<span> <button class="btn btn-success pull-right" (click)="createModal.open()"> Add new house </button>
<hr>

 <modal #createModal>
      <modal-header [show-close]="true">
          <h4 class="modal-title">Create a new house</h4>
      </modal-header>
      <modal-body>
          <input #newId type="text" placeholder="House id"> <br>
          <input #newAddress type="text" placeholder="House address">
      </modal-body>
      <modal-footer>
        <button class="btn btn-success" (click)="createHouse(newId.value, newAddress.value); createModal.close()"> Create </button>
        <button class="btn btn-primary" (click)="createModal.close()"> Cancel </button>
      </modal-footer>
  </modal>

<div *ngIf="houses.length > 0">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>House #</th>
        <th>House address</th>
        <th class="pull-right">Extra options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let house of houses">
        <th scope="row"> {{house.hid}} </th>
        <td> {{house.address}} </td>
        <td> 
          <button type="button" class="btn btn-danger pull-right" (click)="deleteModal.open(); onSelectHouse(house)"> 
            Delete house 
          </button>
          <button type="button" class="btn btn-warning pull-right" (click)="updateModal.open(); onSelectHouse(house)"> 
            Update address
          </button> 
        </td>
      </tr>
    </tbody>
  </table>

  <modal #updateModal>
      <modal-header [show-close]="true">
          <h4 class="modal-title">Update an address</h4>
      </modal-header>
      <modal-body>
          <label> New address: </label> <input #newAddress type="text" value= {{selectedHouse.address}}>
      </modal-body>
      <modal-footer>
        <button class="btn btn-success" (click)="updateHouse(selectedHouse, newAddress.value)"> Submit change </button>
        <button class="btn btn-primary" (click)="updateModal.close()"> Cancel </button>
      </modal-footer>
  </modal>

  <modal #deleteModal>
      <modal-header [show-close]="true">
          <h4 class="modal-title">Warning</h4>
      </modal-header>
      <modal-body>
          Are you sure you want to delete this house? All sensors and records belonging to this house will be removed too!
      </modal-body>
      <modal-footer>
        <button class="btn btn-danger" (click)="deleteHouse(selectedHouse)"> Delete </button>
        <button class="btn btn-primary" (click)="deleteModal.close()"> Cancel </button>
      </modal-footer>
  </modal>
</div>

<div *ngIf="houses.length === 0">
  Nothing to show here! Click the button to add a new house to your collection!
</div>